.basket {
  .basketDetail {
    background: #e5e5e5;
    padding: 40px 0 170px;
    .basketCountAll {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #4f4f4f;
      margin-bottom: 50px;
    }
    .basketProduct {
      margin-bottom: 32px;
    }
  }
  .clearBasket{
    text-align: right;
    button{
      text-align: center;
    padding: 15px 50px;
    background: #2dd06e;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    border: none;
    outline: none;
    }
  }
}

@media (max-width: 768px) {
  .basket {
    .basketDetail {
      padding: 40px 0 88px;
      .basketCountAll {
        margin-bottom: 24px;
      }
    }
  }
  .clearBasket{
    margin-bottom: 20px;
  }
}
