.basket {
  .basketDetail {
    background: #e5e5e5;
    padding: 50px 0 170px;
    .basketCountAll {
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: #4f4f4f;
      margin-bottom: 50px;
    }
    .basketProduct {
      margin-bottom: 32px;
    }
  
  }
}
