.login {
  .main {
    padding: 100px 0 170px;
  }
  .inputControl {
    margin-bottom: 24px;
  }
  .forgotPassword {
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #2d9cdb;
    text-decoration: none;
    width: 100%;
    display: block;
    margin-top: -16px;
  }
}
