.filterOptions {
    margin-bottom: 17px;
  .title {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdbdbd;
    .imgContainer{
      cursor: pointer;
      height: 16px;
      display: flex;
      align-items:center;
      justify-content: center;
    }
 
    h3 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #4f4f4f;
    }
  }
  .items {
      margin-top: 32px;
  
  }
}
