.products{
    margin-top: 33px;
}


.categories{
    margin-top: 100px;
    .row{
        align-items:stretch;
        .rightCol{
         display: flex;
         flex-direction: column;
         gap: 16px;
        }
    }
}

.advertise{
    margin-top: 64px;
    img{
        width: 100%;
    }
}