.navBar {
  margin-bottom: 15px;
  border-bottom: 1px solid #2CE59B;
  &.borderNone{
    border: none;
  }
  .categoryList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;

  }
  a {
    color: #4f4f4f;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    text-transform: capitalize;
    &.active{
      color:#00D68F;
    }
  }
}

@media (max-width: 768px) {
  .navBar {
    z-index: 2;
    border-top: 1px solid #303030;
    position: absolute;
    left: -100%;
    width: 100%;
    background-color: white;
    top: 80px;
    height: calc(100vh - 80px);
    transition: .3s;
    .categoryList{
      justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    }
    a {
      margin: 20px 0;
    }
    &.show {
     left: 0;
    }
  }
}
