.registerImages{
        .imgContainer {
          display: flex;
          margin-bottom: 30px;
          .dots {
            width: 50%;
            position: relative;
            left: -20%;
          }
          .mainImg {
            width: 70%;
            z-index: 1;
            margin-top: 100px;
          }
        }
        .register {
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #4f4f4f;
          }
          a {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #2d9cdb;
            text-decoration: none;
          }
        }
}


@media (max-width: 768px) {
  .registerImages{
    margin-top: 26px;
    .imgContainer{
      display: none;
    }
  }
}